<div class="card">
  <div class="card-header">
    Entre Agora!
  </div>
  <div class="card-body">
    <%= form_for(newUserSession, url: user_session_path) do |f| %>
    
        <%= f.label :email, "Email"%>
        <%= f.email_field :email, class:"form-control" %>

        <%= f.label :password, "Senha"%>
        <%= f.password_field :password, class:"form-control" %>

    
        <%= f.submit 'Entrar', class:"btn btn-primary col-12 mt-2" %>
    <% end %>

    <div>
        <%= link_to 'Criar nova conta', new_user_registration_path %>
    </div>
  </div>
</div>