<div class="card">
  <div class="card-header fw-bold">
    Entre Agora!
  </div>
  <div class="card-body">
    <%= form_for(newUserSession, url: user_session_path) do |f| %>
    
        <%= f.label :email, "Email"%>
        <%= f.email_field :email, class:"form-control" %>

        <%= f.label :password, "Senha"%>
        <%= f.password_field :password, class:"form-control" %>

    
        <%= f.submit 'Entrar', class:"btn btn-primary col-12 mt-2" %>
    <% end %>
    <div class="mt-2">
      <span >
          Ainda não tem uma conta? <%= link_to 'Crie uma conta', new_user_registration_path %>
      </span>
    </div>
</div>
</div>