<div class="contents col-12 h-100 d-flex">
    <div class="col-1"></div>
    <div class="feed col-7 me-5" >
        <%= render partial: "home/post"%>
        <%= render partial: "home/post"%>
        <%= render partial: "home/post"%>
    </div>
    
    <div class="right-area col-3 position-fixed" style="right:50px;">
        <% unless user_signed_in? %>
            <%= render partial: "users/sessions/form_session", locals: { newUserSession: @user }%>
        <%else%>    
            <%= render partial: "home/amigos"%>
        <%end%>
    </div>
    
</div>